html{
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *::before, *after{
    box-sizing: inherit;
}
html,body{
    height:100%;
}

body{
    margin-left: 60px;
    margin-right:60px;
    background-color: rgb(255,123,84);
    /* font-family: 'Open Sans', sans-serif; */
    color: white;
    /* font-size: 2.5rem;
    line-height: 5rem;*/
} 
/* navbar design */
nav{
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:0;
}
.logo_text{
    margin: 10px 0 0 0;
    font-size: 4rem;
    /* color: white; */
}
.nav-container{
    margin: 1.3rem 0 0 0;
    padding: 0;
    display: flex;
}
.nav-item {
    list-style-type: none;
    
    padding: 0;
    margin:0;
    font-size: 2rem;
   
}
 .nav-item li{ 
    display: inline-block;
    margin: 10px 36px 10px 36px;
    
}
.no-underline{
    text-decoration: none;
    /* color: white; */
}
.icon {
    list-style-type: none;
    padding-left: 36px;
    padding-top: 4px;
}
.nav-container ul{
    display: inline-block;
    margin:0;
    
}
.icon img{
    width: 32px;
}
.nav-container img:hover{
    opacity: 0.5;
}

/* middle-part desing */
.long-paragraph{
    margin: 6rem 0 0 9rem;
    font-size:12rem;
    font-weight: 600;
}
.date p{
    margin:2rem 0 0 9rem ;
    font-size:5rem;
}
.date{
    margin-bottom: 10rem;
}
.button li{
    display: inline-block;
    list-style-type: none;
    font-size: 3rem;
    font-weight: 600;
    height:100px;
    line-height: 100px;
    vertical-align: middle;
    align-items: center;
    border: 4px solid white;
    padding: 0 6.4rem 0 6.4rem;
    /* margin-left:9rem; */
}
.first-button{
    margin:0 0 10rem 9rem;
    border-radius: none;
    color:rgb(255,123,84);
    background-color: white;
    
}


.second-button{
    /* margin-left: 3rem; */
    margin:0 0 10rem 3rem;
    border-radius: none;  
}

